<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8">
    <title>Alipay Api - Form</title>
</head>
<body>
	{% if message %}
  	<p style="color:red">{{ message }}</p>
 	{% endif %}

	<h1>Your infomation:</h1><br/>


    <form action="/paypage" method="POST">
        <input type="text" name="out_trade_no" value='20140915alipaytest03'>
        <br/>
        <input type="text" name="subject" value='航拍飞行器'>
        <br/>
        <input type="text" name="body" value='Phantom 2 Vision+ 加电池套装 只要998！测试期间支付￥0.01即可获得。'>
        <br/>
        <input type="text" name="total_fee" value='0.01'>
        <br/>
        <input type="submit" value="Submit">
    </form>


</body>
</html>
